{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-3 shadow-sm">
      <h4 class="mb-3">Login</h4>
      <form method="post">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input class="form-control" name="username" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <button class="btn btn-primary w-100">Login</button>
      </form>
      <a class="btn btn-link mt-2" href="{{ url_for('register') }}">Create account</a>
    </div>
  </div>
</div>
{% endblock %}
